
h1 {
font-size: 2.3em;
  font-family: 'Encode Sans Condensed', sans-serif;
}
select, button {
  font-size: 1.2em !important;
  font-family: 'Encode Sans Condensed', sans-serif !important;
}
.wrapper {
  height: 100vh;
}

.box {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
  /* margin-top: 5em; */
}

.box > * {
  margin: .5em;
}

#homeImg {
  margin-top: 5em !important;
}

.bottomBox {
  height: 4vh;
}

#blue {
  font-size: 1.5em;
  font-weight: 900;
  font-family: 'Gupter', serif;
  color: #0C539F
}

#red{
  color :#D91222 !important;
    font-size: 1.5em;
  font-weight: 900;
  font-family: 'Gupter', serif;
}

.button {
  color :#D91222 !important;
  background: #F7F7F7 !important;
}

.button:hover {
  background: #F2F2F2 !important;
  border-width: .5px !important;
  border-style: solid !important;
  border-color: #0C539F !important;
}

*:focus {
  border-width: .5px !important;
  border-style: solid !important;
  border-color: #0C539F !important;
}

